<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.companyframe.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.feng.companyframe.bean.SysUserRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, role_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.feng.companyframe.bean.SysUserRole">
    insert into sys_user_role (id, user_id, role_id, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.feng.companyframe.bean.SysUserRole">
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.companyframe.bean.SysUserRole">
    update sys_user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.companyframe.bean.SysUserRole">
    update sys_user_role
    set user_id = #{userId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- @Description: 根据用户id 查出 关联角色id 集合-->
  <select id="getRoleIdsByUserId" resultType="java.lang.String">
    SELECT role_id
    from sys_user_role
    where user_id =#{userId}
  </select>

  <!--@Description:根据用户id 删除和该用户关联的角色关联表数据  其实删除的是多条数据-->
  <delete id="removeByUserId">
    delete
    from sys_user_role
    where user_id = #{userId}
  </delete>

  <!--@Description:批量插入用户和角色关联数据-->
  <insert id="batchUserRole" parameterType="SysUserRole">
    insert
    into sys_user_role(
    id,
    role_id,
    user_id,
    create_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id},
      #{item.roleId},
      #{item.userId},
      #{item.createTime}
      )
    </foreach>
  </insert>

  <!-- @Description: 获取和该角色集合相关连的用户id-->
  <select id="getUserIdsByRoleIds" parameterType="String" resultType="String">
    select user_id
    from sys_user_role
    <where>
      role_id in
      <foreach collection="list" item="item" separator="," open="(" close=")">
        #{item}
      </foreach>
    </where>
  </select>

  <!--@Description: 根据角色id 获取 用户id集合-->
  <select id="getUserIdsByRoleId" parameterType="String" resultType="String">
    select user_id
    from sys_user_role
    <where>
      role_id = #{roleId}
    </where>
  </select>

  <!--@Description: 根据角色id 删除 用户、角色 关联的所有数据-->
  <delete id="removeByRoleId" parameterType="String">
    delete
    from sys_user_role
    <where>
      role_id = #{roleId}
    </where>
  </delete>
</mapper>